.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.toggle-button {
  background-color: #4fbe36;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.toggle-button:hover {
  background-color: #439d2f;
}

.toggle-button:active {
  transform: scale(0.95);
}
